:root { /* This is where I will define global variables, eg background, text colour etc. */
    --colour-bg: #455a64;
    --colour-content-bg: rgba(255,255,255,0.5);

    --colour-text: #000;
    --colour-secondary-text: #888;

    --colour-link: #449;
    --colour-secondary-link: #778;
}

html {
    background: url("images/background.jpg") no-repeat center center fixed;
    background-size: cover;

    font-family: sans-serif;

    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    background-color: rgba(0,0,0,0);
    color: var(--colour-text);

    width: 70vw;
    max-width: 900px;

    margin: 10px auto 10px auto;
    padding: 0;
    /* border-radius: 5px;
    box-shadow: 0 0px 8px 02px rgba(0, 0, 0, 0.4); */
}

.content-tile {
    margin: 5px;
    padding: 10px 20px 10px 20px;
    display: block;

    background-color: var(--colour-content-bg);
    color: var(--colour-text);
    border-radius: 5px;
    box-shadow: 0 0px 8px 02px rgba(0, 0, 0, 0.4);
}

.main-title {
    text-align: center;
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 5px;
}

.pre-title {
    text-align: center;
    padding-left: 0;
    padding-right: 300px;
    margin-bottom: 0;
}

.title-underline {
    border-top: dotted black 3px;
    border-bottom: solid black 0px;
    border-left: 0;
    border-right: 0;
    padding: 1px;
}

.main-content-table {
    border-collapse: collapse;
    height: 100%;
}

.main-content-row {
    padding: 0;
    margin: 0;
    height: 100%;
}

.main-content-section {
    padding: 0px;
    height: 100%;
}

.main-content-section .content-tile {
    height: calc(100% - 30px);
}

.tile-grid {
    padding: 0;
    float: left;
}

.tile-container {
    display: block;
    float: left;
    position: relative;
}

.tile {
    border-radius: 5px;
    box-shadow: 0 0px 8px 02px rgba(0, 0, 0, 0.4);
    padding: 15px;
    margin: 2px;

    /*max-width: 100%;
    width: 100%;*/
    vertical-align: middle;
}@media all and (max-width: 800px) {
    .tile-container {
        width: 100%;
    }

    #links {
        max-width: 100px;
    }
}

@media all and (min-width: 801px) {
    .tile-container {
        width: 50%;
    }

    #links {
        width: 120px;
    }
}

.tile h3 {
    margin-top: 0;
    display: inline;
}

.tile-logo {
    height: 50px;
}

.tile-demo {
    width: calc(100% + 30px);
    margin: 5px -15px 5px -15px;
}

.tile-links {
    padding: 0;
    width: 24px;
    float: right;
}

.tile-link {
    padding: 0;
    margin: 0;
}

.tile-link img {
    width: 20px;
    padding: 2px;
    margin: 0;
}

#links {
    vertical-align: top;
}

#links-list {
    width: 100%;
    text-align: center;
}

#links-list img {
    width: calc(100% - 30px);
    margin: 5px 15px;
}

.page-footer {
    color: var(--colour-secondary-text);

    text-align: center;
}

.page-footer * {
    margin: 2px;
}

.page-footer a {
    color: var(--colour-secondary-link);
}
