:root { /* This is where I will define global variables, eg background, text colour etc. */
    --colour-header-bg: #667eea;
    --colour-content-bg: #cccccc;
    --colour-tile-bg: #ffffff;

    --colour-text: #000;
    --colour-secondary-text: #888;

    --colour-link: #113;
    --colour-secondary-link: #778;
}

html {
    background-color: var(--colour-content-bg);
    font-family: sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.header {
    width: calc(100% - 60px);
    padding: 0 30px;
    margin: 0;
    background: linear-gradient(135deg, rgba(102,126,234,1) 0%, rgba(118,75,162,1) 100%);

    text-align: center;
    display: grid;

    grid-auto-flow: column;
    align-items: center;

    font-size: 1.3em;
}

.headerlogo {
    max-width: 30vw;
}

.header h1 {
    vertical-align: middle;
    text-align: left;
}

.tau {
    font-size: 120px;
    margin: 0 50px 0 0;
    text-align: right !important;
}

.tauchar {
    height: 1em;
}

.content {
    padding: 0;
    display: grid;
}

.tile {
    display: grid;
    grid-template: "header header-right" "subheader subheader-right" "gallery gallery" "footer footer";
    align-items: baseline;

    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background: var(--colour-tile-bg);
    width: calc(100vw - 60px);
}

.tile-header {
    grid-area: header;
    font-size: 2.2em;
}
.tile-header-right {
    grid-area: header-right;
    text-align: right;
}
.tile-subheader {grid-area: subheader;}
.tile-subheader-right {
    grid-area: subheader-right;
    text-align: right;
}
.tile-gallery {
    grid-area: gallery;
    overflow: hidden;
    width: 100%;
    border-radius: 15px;
}
.tile-footer {
    grid-area: footer;
    padding: 20px 20px 10px 20px;
}

.tile-gallery-container {
    height: 300px;
    width: max-content;
    position: relative;
}

.tile-gallery-container img:first-child {margin-left: 0 !important;}
.tile-gallery-container img:last-child {margin-right: 0 !important;}

.tile-gallery-container img {
    height: 300px;
    display: inline-block;
    float: left;
    position: relative;
    margin: 0 10px;
}

.learn-more {
    background-color: rgba(102,126,234,1);
    border-radius: 5px;
    color: #ffffff;
    padding: 5px 15px;
}
